[flake8]
max-line-length = 2048
show-source = true
exclude =
    .git
    __pycache__
    */*egg*/*
ignore =
    # closing bracket does not match indentation of opening bracket’s line
    E123
    # whitespace before ':'
    E203,
    # line break before binary operator
    W503,
    # Missing docstring in *
    D10,
    # line too long
    E501,
