# Integration with GitHub Actions
# See https://pre-commit.ci/
ci:
    autofix_prs: false
    autoupdate_schedule: monthly

repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black

- repo: https://github.com/keewis/blackdoc
  rev: v0.4.6
  hooks:
  - id: blackdoc
    files: '\.py$'
    exclude: pyvista/plotting/charts.py

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    additional_dependencies: [
      "flake8-black==0.3.6",
      "flake8-isort==6.0.0",
      # "flake8-quotes==3.3.2",
    ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: [
      "examples pvxarray tests",
      "*.py *.rst *.md",
    ]
    additional_dependencies: [
      "tomli"
    ]

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli==2.0.1]
    files: ^(pyvista/|other/)
    exclude: ^pyvista/ext/

- repo: https://github.com/DanielNoord/pydocstringformatter
  rev: v0.7.5
  hooks:
    - id: pydocstringformatter
      args: [
        "--style {numpydoc,pep257}",
        "--no-strip-whitespace",
        "--no-capitalize-first-letter",
      ]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py38-plus, --keep-runtime-typing]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: ^(|pyvista/examples/.*\.ply|pyvista/examples/.*\.vtk)

- repo: https://github.com/ComPWA/taplo-pre-commit
  rev: v0.9.3
  hooks:
    - id: taplo-format
      # See options: https://taplo.tamasfe.dev/configuration/formatter-options.html
      args: [--option, "reorder_arrays=true", --option, "reorder_keys=true"]
