# Integration with GitHub Actions
# See https://pre-commit.ci/
ci:
    autofix_prs: false
    autoupdate_schedule: monthly

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/keewis/blackdoc
  rev: v0.4.6
  hooks:
  - id: blackdoc
    files: '\.py$'

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: [
      "examples pvxarray tests",
      "*.py *.rst *.md",
    ]
    additional_dependencies: [
      "tomli"
    ]

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli==2.0.1]
    files: ^pvxarray/

- repo: https://github.com/DanielNoord/pydocstringformatter
  rev: v0.7.5
  hooks:
    - id: pydocstringformatter
      args: [
        "--style {numpydoc,pep257}",
        "--no-strip-whitespace",
        "--no-capitalize-first-letter",
      ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: trailing-whitespace

- repo: https://github.com/ComPWA/taplo-pre-commit
  rev: v0.9.3
  hooks:
    - id: taplo-format
      # See options: https://taplo.tamasfe.dev/configuration/formatter-options.html
      args: [--option, "reorder_arrays=true", --option, "reorder_keys=true"]
